# VSCode
.vscode/
*.code-workspace

# Fortran build files  
*.o
*.mod
*.exe
*.out

# Ignorar archivos compilados en students
students/**/*.o
students/**/*.mod
students/**/*.exe
students/**/*.out

# Ejecutables sin extensión
students/**/array
students/**/palindrome
students/**/test_mymath